p {
    margin-top: 8px;
}

h2 {
    color: #006dba;
}

#introText {
    margin-top: 15px;
    width: 600px;
}

#patternArea {
    margin-left: 138px;
    width: 800px;
}
#dragContainment {
}

#evaluationResult {
    max-width: 600px;
    margin-left: 77px;
}

#xmlIntro {
    max-width: 600px;
    margin-left: 140px;
}

#ruleAsXml {
    font-family: monospace;
    color: #555555;
    margin-top: 10px;
    margin-left: 140px;
    max-width: 800px;
    white-space: pre-wrap;
}

#ruleMessage {
    width: 350px;
}

.sortable { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sortable li {
    margin: 0 3px 6px 3px;
    padding: 5px 5px 5px 5px;
    background-color: #eeeeee;
}
.sortable li ul {
    list-style-type: none;
}
.sortable li ul li {
    background-color: #dddddd;
}

.ruleEditor form {
    margin-bottom: 70px;
}

.ruleEditor table {
    border: 0;
    width: auto;
}
.ruleEditor table td {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: top;
}

.sentenceAnalysis {
    padding: 5px;
    background-color: #eeeeee;
}

.sentenceAnalysis table td {
    padding: 3px;
}
.exampleSentenceField {
    width: 300px;
}
.wrong {
    background-color: #ffe2e2;
}
.corrected {
    background-color: #e0ffdc;
}
.removeLink {
    float: right;
    margin-right: 5px;
}
.dragHandle {
    cursor: ns-resize;
    font-size: 14px;
}
input[type='text'] {
    width: 350px;
}
.pos, .lemma {
    color: #777;
}

.disambiguatorLog {
    margin-left: 4px;
    color: #777;
}

.inProgress {
    opacity: 0.5;
}


/* Animations */

.anim-show-hide.ng-hide-add, .anim-show-hide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:inline-block!important;
}

.anim-show-hide.ng-hide-add.ng-hide-add-active,
.anim-show-hide.ng-hide-remove {
    opacity:0;
}

.anim-show-hide.ng-hide-add,
.anim-show-hide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.activePosTag {
    font-weight: bold;
}

.posTagHelp {
    position: fixed;
    width: 100%;
    height: 190px;
    bottom: 0;
    padding:  8px;
    background-color: #e4c4ff;
}

.posTagHelp tt {
    background-color: #e4d8ff;
}
