#introText {
    margin-top: 15px;
    width: 600px;
}

#patternArea {
    margin-left: 138px;
    width: 650px;
}
#dragContainment {
}

#wrongSentenceAnalysis {
    padding: 5px;
    background-color: #eeeeee;
}

#evaluationResult {
    max-width: 600px;
    margin-left: 70px;
    margin-bottom: 30px;
}

.sortable { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sortable li {
    margin: 0 3px 3px 3px;
    padding: 5px 5px 5px 5px;
    background-color: #eeeeee;
}

.ruleEditor table {
    border: 0;
    width: auto;
}
.exampleSentenceField {
    width: 300px;
}
.removeLink {
    float: right;
    margin-right: 15px;
}
.dragHandle {
    cursor: ns-resize;
    font-size: 14px;
}
input[type='text'] {
    width: 350px;
}
.pos, .lemma {
    color: #777;
}

.disambiguatorLog {
    margin-left: 8px;
    color: #777;
}