<!DOCTYPE hibernate-configuration SYSTEM
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping package="org.languagetool" />
        <mapping class="org.languagetool.User" />
        <mapping class="org.languagetool.UserConfiguration" />
        <mapping class="org.languagetool.LanguageConfiguration" />
        <mapping class="org.languagetool.CorpusMatch" />
        <mapping class="org.languagetool.RegistrationTicket" />
    </session-factory>
</hibernate-configuration>
